#List {
color: blue;
text-align: center;
font-size: 23px;
}

.header {
color: blueviolet;
border: 2px solid black;
width: 400px;
background-color: blanchedalmond;
}
 img {
  width: 200px;
  height: 200px;
  margin-left: 100px;
 }

.box {
  background-color: lightslategray;
  width: 250px;
  height: 170px;
  float: left;
  border: 2px solid black;
  margin-top: 20px;
}

.box2 {
  background-color: lightslategray;
  width: 250px;
  height: 170px;
  float: left;
  border: 2px solid black;
  margin-left: 40px;
  margin-top: 20px;
}